@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  border-radius: 5px;
  min-height: 100vh;
  /* Ensure it covers the full height of the viewport */
  background: linear-gradient(144deg, #0b6c89, #7589a9);
  @apply shadow-md rounded-md;
}

h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 50px;
}

p {
  margin-bottom: 20px;
  color: #d3c0c0;
  font-size: 22px;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #3a8aa5;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
  outline: none;
  color: #eae2e2;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 40;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.inner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 5px;
  @apply shadow-md rounded-md;
  @apply border-radius-md;
  @apply transition duration-300 ease-in-out;

  &:hover {
    background-color: #f5f5f5;
  }
}

.selectFile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
}

label {
  display: block;
  font-size: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 98%;
  height: 200px;
  align-self: center;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  border-radius: 5px;
  /* @apply border rounded-lg; */
  @apply shadow-md;
  @apply focus:outline-none;
  @apply transition duration-300 ease-in-out;

  &:focus {
    border-color: rebeccapurple;
  }
}